/01_first.c
/01_first.exe
/01_problem.c
/01_problem.exe
/area_of_traiangle.c
/area_of_traiangle.exe
/calculator.c
/calculator.exe
/check01.c
/check01.exe
/convert_C_to_F.c
/convert_C_to_F.exe
/do_while_loop.c
/do_while_loop.exe
/else_if_.c
/else_if_.exe
/find_area_of_rectangle.c
/find_area_of_rectangle.exe
/for_loop.c
/for_loop.exe
/for_loop_i--.c
/for_loop_i--.exe
/gcc
/grade_check.c
/grade_check.exe
/infinite.c
/infinite.exe
/Local Disk (C) - Shortcut.lnk
/magic_number.c
/magic_number.exe
/math_formula.c
/math_formula.exe
/mind_blowing.c
/mind_blowing.exe
/natural.c
/natural.exe
/prime.c
/prime.exe
/problem.c
/problem.exe
/reverse_number.c
/reverse_number.exe
/reverse_table.c
/reverse_table.exe
/simple_intrest.c
/simple_intrest.exe
/sum_of_all.c
/sum_of_all.exe
/swap.c
/swap.exe
/swap_2.c
/swap_2.exe
/table.c
/table.exe
/tempCodeRunnerFile.c
/using_all_operator.exe